In [1]:
# Start writing code here...

# Ejercicios: Introducción a Pandas y Numpy

### Revisión de ejercicios

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('users.csv')
data

,id,nombre,edad,genero,pais,email
0,0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...,...
195,195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Mostrar&nbsp;en&nbsp;consola&nbsp;el&nbsp;nombre&nbsp;de&nbsp;todos&nbsp;los&nbsp;usuarios&nbsp;que&nbsp;no&nbsp;poseen&nbsp;correos&nbsp;electrónicos

In [3]:
data[pd.isna(data['email'])]

Empty DataFrame
Columns: [id, nombre, edad, genero, pais, email]
Index: []

In [4]:
# solución propia
data[data['email'].isnull()]['nombre']
# todos los usuarios tienen correo electrónico

Series([], Name: nombre, dtype: object)

### Listar el nombre y correo del usuario más joven de Canadá

In [5]:
data.query('pais == "Canada"').sort_values('edad')[['nombre','email']].head(1)

                 nombre                        email
184  Mr Philip Bélanger  philip.belanger@example.com

In [6]:
# solución propia
data[data['pais'] == 'Canada'].sort_values('edad')[['nombre','email']].head(1)

                 nombre                        email
184  Mr Philip Bélanger  philip.belanger@example.com

### Listar&nbsp;el&nbsp;nombre&nbsp;y&nbsp;correo&nbsp;de&nbsp;los&nbsp;usuarios&nbsp;más&nbsp;jóvenes&nbsp;de&nbsp;Alemania&nbsp;y&nbsp;Canadá

In [7]:
canada = data[data['pais'] == 'Canada'].sort_values('edad').head(1)
alemania = data[data['pais'] == 'Germany'].sort_values('edad').head(1)

canada.append(alemania)

,id,nombre,edad,genero,pais,email
184,184,Mr Philip Bélanger,24,male,Canada,philip.belanger@example.com
88,88,Mrs Hilda Epp,22,female,Germany,hilda.epp@example.com

In [8]:
# solución propia
data.iloc[data[data['pais'].isin(['Germany','Canada'])]['edad'].sort_values().head(2).index.values]

,id,nombre,edad,genero,pais,email
88,88,Mrs Hilda Epp,22,female,Germany,hilda.epp@example.com
184,184,Mr Philip Bélanger,24,male,Canada,philip.belanger@example.com

### Mostrar los usuarios con mayor edad

In [9]:
data.sort_values('edad', ascending = False).head()

,id,nombre,edad,genero,pais,email
82,82,Miss Elsie Lawrence,75,female,Australia,elsie.lawrence@example.com
29,29,Mr Ilyès Lemaire,75,male,France,ilyes.lemaire@example.com
135,135,Mr Ray Henry,75,male,United States,ray.henry@example.com
153,153,Mrs Sophie Lewis,75,female,New Zealand,sophie.lewis@example.com
13,13,Mr Gerardo Garrido,74,male,Spain,gerardo.garrido@example.com

### Listar los cinco países con mayor cantidad de usuarios

In [10]:
data.groupby(by = 'pais')['pais'].count().sort_values(ascending = False).head(5)

pais
Ireland           16
Denmark           16
United Kingdom    15
New Zealand       14
Norway            14
Name: pais, dtype: int64

### Obtener el país con más usuarios

In [11]:
data['pais'].value_counts()[:1]

Ireland    16
Name: pais, dtype: int64

In [12]:
# solución propia
data.groupby('pais')['pais'].count().sort_values(ascending = False).head(2)

# fueron dos países los que tienen la mayor cantidad de usuarios

pais
Ireland    16
Denmark    16
Name: pais, dtype: int64

In [13]:
# La mejor opción porque automáticamente muestra todas las opciones
data['pais'].value_counts()[data['pais'].value_counts() == data['pais'].value_counts().max()]

Ireland    16
Denmark    16
Name: pais, dtype: int64

### Obtener el país con más usuarios cuya edad sea mayor a 50

In [14]:
data.loc[data.edad > 50].groupby('pais').count().nombre.sort_values(ascending = False)[:1]

pais
Iran    10
Name: nombre, dtype: int64

In [15]:
# Solución propia
data[data['edad'] > 50].groupby('pais')['pais'].count().sort_values(ascending = False).head(1)

pais
Iran    10
Name: pais, dtype: int64

### Obtener la suma total de todos los usuarios de Canadá y Alemania

In [16]:
len(data[(data['pais'] == 'Canada') | (data['pais'] == 'Germany')])

21

In [17]:
# Solución propia
data[data['pais'].isin(['Canada','Germany'])]['pais'].count()

21

### Mostrar en consola la cantidad de países en el dataset

In [18]:
len(data['pais'].unique())

17

In [19]:
# Solución propia
data.groupby('pais')['pais'].count().size

17

### Obtener el promedio de edad de cada uno de los países

In [20]:
data.groupby('pais')['edad'].mean()

pais
Australia         51.166667
Brazil            50.666667
Canada            38.583333
Denmark           48.812500
Finland           42.200000
France            48.900000
Germany           39.555556
Iran              54.230769
Ireland           42.000000
Netherlands       51.833333
New Zealand       49.071429
Norway            46.071429
Spain             56.615385
Switzerland       44.000000
Turkey            47.000000
United Kingdom    51.466667
United States     53.500000
Name: edad, dtype: float64

In [21]:
# solución propia
data.groupby('pais').mean('edad')['edad']

pais
Australia         51.166667
Brazil            50.666667
Canada            38.583333
Denmark           48.812500
Finland           42.200000
France            48.900000
Germany           39.555556
Iran              54.230769
Ireland           42.000000
Netherlands       51.833333
New Zealand       49.071429
Norway            46.071429
Spain             56.615385
Switzerland       44.000000
Turkey            47.000000
United Kingdom    51.466667
United States     53.500000
Name: edad, dtype: float64

In [22]:
# Otra solución
round(data.groupby('pais').edad.mean(),1)

pais
Australia         51.2
Brazil            50.7
Canada            38.6
Denmark           48.8
Finland           42.2
France            48.9
Germany           39.6
Iran              54.2
Ireland           42.0
Netherlands       51.8
New Zealand       49.1
Norway            46.1
Spain             56.6
Switzerland       44.0
Turkey            47.0
United Kingdom    51.5
United States     53.5
Name: edad, dtype: float64

### Mostrar en consola el país con más hombres

In [23]:
data[data['genero'] == 'male'].groupby('pais')['pais'].count().sort_values(ascending = False).head(1)

pais
Ireland    10
Name: pais, dtype: int64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=295a884b-c7d6-44f3-98d4-34c2c544e53c' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>